.password-input-container{
    position: relative
}

.eye-icon img {
    width: 16px;
    height: 16px;
}

.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-55%);
    cursor: pointer;
}

.white-input{
    background-color: white;
}

.green-text{
    color: rgb(2, 60, 1);
}